@import url('https://fonts.googleapis.com/css2?family=Assistant&family=Dancing+Script:wght@700&family=Merriweather+Sans:wght@300&family=Nerko+One&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant&family=Dancing+Script:wght@700&family=Merriweather+Sans:wght@300&family=Nerko+One&family=Roboto&display=swap');
*{
	margin: 0;
	padding: 0;
}
.maincontaner{
	width: 1000px;
	height: 500px;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display:flex;box-shadow: 1px 5px 16px rgba(0, 0, 0, 0.3);
}
.form{
	width: 45%;
	height: 100%;
	
}
.form .heading{
	height: 70px;
	width: 300px;
	
    margin-left: 80px;
    margin-top: 45px;
}
.form .heading img{
	height: 70px;
	width: 50px;
	border-radius: 30%;
}
.form .heading span{
	position: absolute;
}
.form .heading .mainheading{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	margin-top: 10px;
	margin-left: 20px;
	font-size: 25px;
}
.form .heading .subheading{
	font-family: 'Roboto', sans-serif;
	margin-top: 40px;
	margin-left: 20px;
	font-size: 16px;
}


.data{
    height: 330px;
    width: 395px;
    margin-top: 20px;
    margin-left: 25px;
    background-color: #fff;
}
.data .email,.password{
    width: 345px;
    height: 50px;
    border: 1px solid rgb(199, 198, 198);
    margin-top: 20px;
    margin-left: 12px;
    border-radius: 5px;
    padding-left: 20px;
    font-size: 17px;
    font-weight: 500;
}

.btn{
    height: 50px;
    width: 367px;
    border: none;
    border-radius: 6px;
    margin-top: 25px;
    padding-left: 0px;
    margin-left: 12px;
    font-size: 19px;
    font-weight: bold;
    color: #fff;
    font-family: sans-serif;
    background-color: #FD9215;
    cursor: pointer;
    transition: 0.1s;
}

.data i{
    color: #fff;
    padding: 15px;
    background-color: #FD9215;
    float: right;
    margin-top: 21px;
    position: absolute;
    margin-left: -48px;
    border-radius: 0 5px 5px 0;
    font-size: 20px;
}

.data a{
    font-family: sans-serif;
    color: #1877f2;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    float: right;
    margin-right: 18px;
    margin-top: 15px;
}

.data hr{
    width: 92%;
    margin-left: 14px;
    margin-top: 40px;
}

.data .Contact{
    float: none;
    padding: 5px;
    background-color: #fff;
    position: absolute;
    margin-top: -15px;
    margin-left: 130px;
}

.data .btn:hover{
    background-color: #c97716;
}
.data .createnew:hover{
    background-color: #FD9215;
}
.data .email:focus-visible {
    box-shadow: 0 0 1px 1px #FD9215;
	outline: none;
  	border: 1px solid #FD9215;
}
.data .password:focus-visible {
    box-shadow: 0 0 1px 1px #FD9215;
	outline: none;
  	border: 1px solid #FD9215;
}


.image{
	width: 55%;
	height: 100%;
}

.image img{
	position: absolute;
	scale: 0.9;
	margin-top: 30px;
	margin-left: -40px;
}